<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css" />
	<link rel="stylesheet" th:href="@{/css/booking.css}" href="../../static/css/booking.css" />
	<link rel="stylesheet" th:href="@{/css/header.css}"	href="../../static/css/header.css" />
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
	<script type="text/javascript" th:src="@{/js/header.js}" src="../static/js/header.js"></script>
	<script th:src="@{/js/user.js}" src="../static/js/user.js"></script>
	<title>Booking - W&W</title>
</head>
<body>
	<section class="container">
		<header class="jumbotron" th:replace="~{fragments/template :: header}">	Book Date Header </header>

		<nav class="navbar navbar-default" th:replace="~{fragments/template :: navbar}">Navbar</nav>

		<div class=" card my-1">
			<h5 class="card-header">
				<span th:text="#{book.heading}">Booking</span>
			</h5>
		</div>

		<form th:action="@{/trips/book/{tripTypeId}(tripTypeId=${tripType.id})}"  method="post"
			class="form-horizontal" th:object="${trip}">
			
			<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
				<ul>
					<li th:each="error : ${#fields.detailedErrors() }" th:text="${error.message}"></li>
				</ul>
			</div>
			
			<div class="container col-md-12">
				<div class="g-2 row">
					<h4 th:text="#{${tripType.title}}" class="g-2 col">1 Hour Sailing Tour</h4>
				</div>
				
				<div class="g-2 row">
					<h5
						th:text="${#numbers.formatDecimal(tripType.price, 1, 'COMMA', 0, 'POINT')+ '€'} + ' - ' + ${tripType.duration} + ' ' + (${tripType.duration==1} ? #{parts.trip.hour} : #{parts.trip.hours})"
						class="g-2 col">30 € - 1 hour</h5>
				</div>
				
				<div class="g-2 row">
					<div th:text="#{${tripType.description}}" class="g-2 col">1h Sailing Experience</div>
				</div>
				
				<div class="mt-4 g-2 row">
					<h5 class="g-2 col" th:text="#{book.date}">Trip date</h5>
				</div>
				
				<div class="g-2 row">
					<div class="g-2 input">
						<label for="date" th:text="#{book.select.date}">Select trip date:</label>
						<input id="date" type="date" class="form-control" name="date">
					</div>
				</div>
				
				<div class="g-2 row">
					<div class="g-2">
						<input th:value="#{book.next}" type="submit">
					</div>
				</div>

				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}">
			</div>
		</form>
	</section>
</body>
</html>