<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/template :: head}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../static/css/main.css" />
<title>Users</title>
</head>
<body>
	<section class="container">
		<header class="jumbotron" th:replace="~{fragments/template :: header}">
			Sailing Header </header>

		<nav class="navbar navbar-default"
			th:replace="~{fragments/template :: navbar}">Navbar</nav>

	</section>

	<section class="container">
		<div class=" card my-1">
			<h5 class="card-header">
				<span>Group Trips</span>
			</h5>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-3 my-2"
				th:each="groupTrip, iStat  : ${groupTrips}">
				<div class="card">
					<div class="card-header">
						<h5 th:text="#{${groupTrip.title}}">1 Hour Sailing Tour</h5>
					</div>
					<div class="card-body">
						<p class="card-text" th:text="#{${groupTrip.description}}"></p>
						<p class="card-text h5"
							th:text="${groupTrip.price + '€ - ' + groupTrip.duration + ' hours'}">30€
							- 1 hour</p>
						<p class="card-text">9 places</p>
						<p class="card-text h6">Departures:</p>
						<!--  TODO: Como mostrar las horas una a una
						<ul th:each="departure : ${groupTrips.departures}">
							<li th:text="${#dates.format(departure, 'HH:mm')}"></li>
						</ul> -->
						<a class="btn btn-secondary">Book</a>
						<!-- <a class="btn btn-secondary" href="book_date.html" th:href="@{/book/{groupTrip.id}}">Book</a> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="container">
		<div class=" card my-1">
			<h5 class="card-header">
				<span>Private Trips</span>
			</h5>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-3 my-2"  th:each="privateTrip, iStat  : ${privateTrips}">
				<div class="card">
					<div class="card-header">
						<h5 th:text="#{${privateTrip.title}}">1 Hour Sailing Tour</h5>
					</div>
					<div class="card-body">
						<p class="card-text" th:text="#{${privateTrip.description}}"></p>
						<p class="card-text h5" th:text="${privateTrip.price + '€ - ' + privateTrip.duration + ' hours'}">30€
							- 1 hour</p>
						<p class="card-text">9 places</p>
						<p class="card-text h6">Departures:</p>
						<!--  TODO: Como mostrar las horas una a una
						<ul th:each="departure : ${privateTrips.departures}">
							<li th:text="${#dates.format(departure, 'HH:mm')}"></li>
						</ul> -->
						<a class="btn btn-secondary">Book</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>