<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/template :: head}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../static/css/main.css" />
<title>Trips - W&W</title>
</head>
<body>


	<!--/* TODO - Include AJAX script to load tracking */-->
<script type="text/javascript" th:src="@{/js/trips.js}"></script>
	<!--/* TODO - Include cancel trip dialog, if user has role CLIENT */-->
<div sec:authorize="hasRole('CLIENT')" th:replace="~{fragments/dialogs :: cancel_trip_dialog}"></div>
	<!--/* TODO - Include done trip dialog, if user has role ADMIN  */-->
<div sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/dialogs :: trip_done_dialog}"></div>
	<!--/* TODO - Include reschedule trip dialog, if user has role ADMIN  */-->
<div sec:authorize="hasRole('ADMIN')" th:replace="~{fragments/dialogs :: reschedule_trip_dialog}"></div>
	<!-- /* TODO - Include tracking dialog */ -->
	<div th:replace="~{fragments/dialogs :: tracking_dialog}"></div>

	<section class="container">
		<header class="jumbotron" th:replace="~{fragments/template :: header}">
			Trips Header </header>

		<nav class="navbar navbar-default"
			th:replace="~{fragments/template :: navbar}">Navbar</nav>

		<section class="card my-1"
			th:replace="~{fragments/template :: heading('Trips')}">Trips</section>

		<table  class="table table-striped table-bordered table-condensed table-responsive">
		<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>Departure</th>
					<th>Places</th>
					<th sec:authorize="hasRole('ADMIN')">Username</th>
					<th>Type</th>
					<th>Category</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="trip, iStat  : ${booked_trips}">
				<td th:text="${trip.id}"></td>
				<td th:text="${#dates.format(trip.date,'dd/MM/yyyy')}"></td>
				<td th:text="${#dates.format(trip.departure,'HH:mm')}"></td>
				<td th:text="${trip.places}"></td>
				<td sec:authorize="hasRole('ADMIN')" th:text="${trip.clientUsername}"></td>
				<td th:text="${tripTypes[trip.typeId].title}"></td> 
    			<td th:text="${tripTypes[trip.typeId].category}"></td> 
				<td><a th:text="${trip.status}" th:onclick="|ajax_show_tracking('${trip.id}')|"></a></td>
				<td><button sec:authorize="hasRole('ADMIN')" th:attr="data-bs-tripId=${trip.id}" type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#rescheduleTripDialog">
							<i class="bi bi-journals"> </i>
						</button>
						<button sec:authorize="hasRole('ADMIN')" th:attr="data-bs-tripId=${trip.id}" type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#tripDoneDialog">
							<i class="bi bi-journal-check"> </i>
						</button>
						<button sec:authorize="hasRole('CLIENT')" th:attr="data-bs-tripId=${trip.id}" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelTripDialog">
							<i class="bi bi-journal-x"> </i>
						</button></td>
				</tr>
				</tbody>
		</table>
	</section>
</body>
</html>