body{
	background-color: #CAE1FF;
}

header{
	background-color: #3B82F6;
}

nav {
  background-color: #e8d1c1;
  background-image: 
    url('https://img.freepik.com/free-photo/brown-background-natural-sand-texture_53876-145228.jpg');
  color: black; 
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

input[type=submit]{
	background-color: #3B82F6;
	padding: 0.375rem 0.75rem ;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid #3B82F6;
	border-radius: 0.375rem;
	color: white;
	text-decoration: none;
	}

input[type=submit]:hover{
	background-color: #155173;
	border-color: #155173;
	color: white;
	transition: background-color 0.2s ease, border-color 0.2s ease;
}

input[type=submit]:focus{
	background-color: #3B82F6;
	border-color: #3B82F6;
	color: white;
	transition: background-color 0.2s ease, border-color 0.2s ease;
}

.alert{
	padding: 1rem 0 0;
}
.alert ul{
	 list-style-type: none;
}

.alert p{
	padding-left: 1rem;
}

table a{
	cursor: pointer;
}